.hero {
  background: url('/public/assets/images/top.jpg') no-repeat center center/cover;
  height: 400px;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  .features .feature-list {
      flex-direction: column;
  }

  .hero {
      height: 300px;
  }
}